[submodule "vim-plugins/opt/gruvbox"]
	path = vim-plugins/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim-plugins/opt/copilot.vim"]
	path = vim-plugins/opt/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "vim-plugins/opt/Coqtail"]
	path = vim-plugins/opt/Coqtail
	url = https://github.com/whonore/Coqtail
