[submodule "vim-plugins/start/gruvbox"]
	path = vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim-plugins/start/copilot.vim"]
	path = vim/pack/default/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "vim-plugins/start/Coqtail"]
	path = vim/pack/default/start/Coqtail
	url = https://github.com/whonore/Coqtail
[submodule "vim-plugins/start/junegunn/fzf.vim"]
	path = vim-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim-plugins/start/vimtex"]
	path = vim/pack/default/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim-plugins/start/lsp"]
	path = vim/pack/default/start/lsp
	url = https://github.com/yegappan/lsp
