* {
  color: #cccccc;
  font-family: "FiraCode Nerd Font", monospace;
}

#end .widget {
  margin: 0 2px;
}

.sysinfo .item {
}


button, .background, .calendar {
  background-color: rgba(26, 26, 26, 0.5);
}

button {
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

button:hover,button:active{
  background-color: rgba(50, 50, 50, 0.8);
}

.workspaces .item.visible {
  box-shadow: inset 0 -2px #ffffff;
}

.workspaces .item.focused {
  box-shadow: inset 0 -2px #6699cc;
  background-color: rgba(50, 50, 50, 0.8);
}
.workspaces .item.urgent {
  background-color: #8f0a0a;
}

.popup-clock .calendar-clock {
  font-size: 2.0em;
}
