[Unit]
Description=awww wallpaper daemon
PartOf=graphical-session.target

[Service]
ExecStart=awww-daemon
Restart=on-failure

[Install]
WantedBy=graphical-session.target
