[Unit]
Description=Ironbar
PartOf=graphical-session.target

[Service]
ExecStart=ironbar
Restart=on-failure

[Install]
WantedBy=graphical-session.target
